{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ubusina - Responsive HTML5 Template</title>
	<link rel="stylesheet" href="{{STATIC_URL}}static/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}/static/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<!-- ====================================================
	header section -->
	<header class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-5 header-logo">
					<br>
					<a href="index.html"><img src="{{STATIC_URL}}/static/img/logo.png" alt="" class="img-responsive logo"></a>
				</div>

				<div class="col-md-7">
					<nav class="navbar navbar-default">
					  <div class="container-fluid nav-bar">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      
					      <ul class="nav navbar-nav navbar-right">
					        <li><a class="menu active" href="#home" >首頁</a></li>
					        <li><a class="menu" href="#about">關於「永生圓房」</a></li>
					        <li><a class="menu" href="#service">服務內容</a></li>
<!--					        <li><a class="menu" href="#team">our team</a></li>   -->
					        <li><a class="menu" href="#contact">聯絡我們</a></li>
					      </ul>
					    </div><!-- /navbar-collapse -->
					  </div><!-- / .container-fluid -->
					</nav>
				</div>
			</div>
		</div>
	</header> <!-- end of header area -->

			
{% block content %}
{% endblock %}


			<!-- footer starts here -->
			<footer class="footer clearfix">
				<div class="container">
					<div class="row">
						<div class="col-xs-6 footer-para">
							<p>&copy;freshDesignweb.com All right reserved</p>
						</div>

						<div class="col-xs-6 text-right">
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-twitter"></i></a>
							<a href=""><i class="fa fa-skype"></i></a>
						</div>
					</div>
				</div>
			</footer>



	

	<!-- script tags
	============================================================= -->
	<script src="{{STATIC_URL}}/static/js/jquery-2.1.1.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="{{STATIC_URL}}/static/js/gmaps.js"></script>
	<script src="{{STATIC_URL}}/static/js/smoothscroll.js"></script>
	<script src="{{STATIC_URL}}/static/js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}/static/js/custom.js"></script>
	
</body>
</html>
